@{
    ViewBag.Title = "Video Slot Game";
    Layout = "../Shared/LoginPageLayout.cshtml";
}
<style type="text/css">
    html {
        margin: 0;
        padding: 0;
    }

    .fr {
        float: right;
    }

    .fl {
        float: left;
    }

    .centered {
        text-align: center;
    }

    body {
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

        body * {
            margin: 0;
            padding: 0;
        }

    h2 {
        margin: 20px 0;
    }

    .login-panel {
        font-size: 16px;
        width: 410px;
        margin: 50px auto;
        background: #9CBFD0;
        padding: 42px 70px;
    }

        .login-panel td {
            padding: 5px;
            padding-left: 7px;
        }

        .login-panel .nopad {
            padding-left: 0;
        }

        .login-panel input {
            padding: 5px 10px;
            background: none;
            border-radius: 3px;
        }

        .login-panel label {
            margin-bottom: 10px;
        }

        .login-panel button {
            margin: 10px;
            padding: 10px;
        }

    form {
        width: 100%;
        overflow: hidden;
    }

    .clearfix {
        clear: both;
        float: none;
    }

    .checkbox {
        margin-top: 10px;
        clear: both;
    }

    .form-signin {
        max-width: 360px;
        padding: 15px;
        margin: 0 auto;
    }

    .loginValidationMessage {
        color: red;
        font-family: sans-serif;
    }


    /*
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

            .form-signin .form-control:focus {
                z-index: 2;
            }

        .form-signin input[type="email"] {
            margin-bottom: 13px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-left: 25px;
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

    .loginbtn {
        height: 45px;
        background-color: aquamarine;
    }

    .loginValidationMessage {
        color: red;
        font-family: -webkit-pictograph;
    }*/
</style>


@model OnlineCasinoModel.LoginModel

<div class="login-panel">
    @using (Html.BeginForm("Login", "Member", FormMethod.Post, new { @class = "form-signin" }))
    {
        <h2 class="form-signin-heading">Please sign in</h2>

        <div>
            @Html.ValidationMessage("InvalidUser", new { @class = "loginValidationMessage" })
        </div>
        <table>

            <tr>
                <td class="nopad">
                    <label for="Email" class="sr-only">Email address</label>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control ", type = "email", placeholder = "Email address" })
                </td>
            </tr>

            <tr class="test">
                <td class="nopad" colspan="2">
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "loginValidationMessage" })
                </td>
            </tr>

            <tr>
                <td class="nopad">
                    <label for="Password" class="sr-only">Password</label>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password", placeholder = "Password" })
                </td>
            </tr>

            <tr class="test">
                <td class="nopad" colspan="2">
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "loginValidationMessage" })
                </td>
            </tr>


        </table>



        <div class="centered clearfix">
            <button class="btn btn-lg btn-primary btn-block loginbtn" type="submit">Sign in</button>
        </div>

    }
</div>



